# --- Chaves e Segredos (MUITO IMPORTANTE) ---
*.key
*.pem
*.bin
# Bloqueia arquivos que você gerou nos testes
chave_privada.pem
chave_publica.pem
chave_simetrica.key

# --- Arquivos de Dados Criptografados/Decriptados ---
*.rsa
*.enc
*.hibrido
*decriptado*

# --- Python e Ambiente Virtual ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# --- Logs ---
*.log

# --- Configurações de IDE ---
.vscode/
.idea/
.DS_Store

.mp4
.mov